<div class="jumbotron">
  <h2>OmniYelp is the most honest reviews site!</h2>
  <h3>You have to be in the location in order to leave a review! And in many cases theres a reciept attached to the review</h3>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <% if user_signed_in? %>
        <% if current_user && current_user.admin?%>
      <th colspan="2"></th>
      <% end %>
      <% end%>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to(restaurant.name, restaurant) %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= link_to("view website", restaurant.website, :target => '_blank') %></td>
        <% if user_signed_in?  && current_user.admin? %>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in?  && (current_user && current_user.admin?) %>
<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-primary" %>
<% end %>
<div class="clear" />
<%= image_tag("https://s3.amazonaws.com/omniayelp/happy_footer.png") %>
