<div class="row">
  <div class="col-md-3 center">
    <p>
      <%= image_tag(@restaurant.image) %>
    </p>
    <h2>
      <%= @restaurant.name %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <h5> <%= "#{@reviews.length} reviews"  %> </h5>
    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to("view website", @restaurant.website, class: "btn btn-link", :target => "_blank") %>
    </p>
    <%= link_to 'Write A Review', new_restaurant_review_path(@restaurant),  class: "btn btn-primary" %><br/>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant),  class: "btn btn-link" %> |
    <%= link_to 'Back', restaurants_path,  class: "btn btn-link" %>
  </div>
  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h2> Be super awesome, and write the first review ! </h2>
    <% else %>
      <table class="table">
        <thead><tr><th class="col-md-3"></th><th class="col-md-9"></th></tr></thead>
        <tbody>
          <% @reviews.each do |r| %>
            <tr>
              <td>
                <h4><%= "#{r.user.first_name.capitalize} #{r.user.last_name.capitalize[0]}." %></h4>
                <p>  <%=r.created_at.strftime("%-m/%-d/%y") %></p>
              </td>
              <td>
                <div class="star-rating" data-score=<%= r.rating %> ></div>
                <p><%= h(r.comment).gsub(/\n/, '<br/>').html_safe %></p>
                <% if user_signed_in? %>
                  <% if (r.user == current_user) || (current_user.admin?) %>
                    <%= link_to "Edit", edit_restaurant_review_path(@restaurant, r) %>
                    <%= link_to "Delete", restaurant_review_path(@restaurant, r), method: :delete %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
</div>

<script type="text/javascript">
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/omniayelp/stars/',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
